@charset "utf-8";
.c-master {
  /* 暂时不知道是什么的颜色*/
  color: #68cb9b;
}
.bg-orange {
  /*这个暂时也不知道是谁的颜色*/
  background-color: #ff6f40;
}
.nav li.current a,
.nav li a:hover,
.h-r-login li a:hover,
.h-r-login li a:hover,
.c-tab-title a.current,
.c-btn-2,
.i-teach-wrap:hover a,
.paging a,
.paging a:hover,
.paging a.current,
#footer,
.u-m-dd ul li a:hover,
.u-m-dd ul li.current a,
.d-s-head-tab a.current {
  /*导航栏的下划线颜色*/
  border-color: #74a9ef;
  /*控制导航栏内部字体的颜色*/
  color: #7b7b7b;

}
.lh-menu ul li.lh-menu-stair ol li.lh-menu-second a.current-2,
.lh-menu ul li.lh-menu-stair li.lh-menu-second a.current-2,
.lh-menu ul li.lh-menu-stair ol li.lh-menu-second a.current-2 .lh-menu-i-2,
.lh-menu ul li.lh-menu-stair li.lh-menu-second a.current-2 .lh-menu-i-2,
.lh-menu-second a.current-2 span.fr,
#t-infor-menu p a.current,
.i-art-title:hover,
.q-sort-wrap span.current {
  border-color: #68cb9b;
  color: #68cb9b;
}
